{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cattle packages – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Cattle packages</h1>

    <p class="govuk-body">Click on a column heading to order tests, or click on a test code for more detailed information.</p>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-visually-hidden">Cattle packages price list</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Test code</th>
          <th scope="col" class="govuk-table__header">Test description</th>
          <th scope="col" class="govuk-table__header">Test type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Max turnaround time (working days)</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price per test (£) ex. VAT</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0387&amp;category=14">PC0387</a></td>
          <td class="govuk-table__cell">Bovine abortion/stillbirth serology package A: Leptospira hardjo, Neospora</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">16.50</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0405&amp;category=14">PC0405</a></td>
          <td class="govuk-table__cell">Bovine abortion/stillbirth serology package B: Leptospira hardjo, BVD, IBR &amp; Neospora</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">28.30</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0384&amp;category=14">PC0384</a></td>
          <td class="govuk-table__cell">Bovine respiratory disease package A - viral serology: IBR, RSV, PI3 &amp; BVD</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">31.70</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0385&amp;category=14">PC0385</a></td>
          <td class="govuk-table__cell">Bovine respiratory disease package B - full serology: IBR, RSV, PI3, BVD, Mycoplasma bovis &amp; Histophilus somni (H. somnus)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">73.70</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0069&amp;category=14">PC0069</a></td>
          <td class="govuk-table__cell">Enteric package 1-5 day calves: Culture for salmonellae and E. coli. with antimicrobial sensitivity profile as appropriate; examination for rota and corona viruses, cryptosporidia (5g faeces)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">54.10</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0070&amp;category=14">PC0070</a></td>
          <td class="govuk-table__cell">Enteric package 6 to 21 day calves: Salmonella culture, rota and corona virus, cryptosporidia (5g faeces)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">50.80</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0073&amp;category=14">PC0073</a></td>
          <td class="govuk-table__cell">Enteric package adult cattle: Johne's antibody ELISA on serum, fluke eggs, salmonella culture (40g faeces)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">45.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0071&amp;category=14">PC0071</a></td>
          <td class="govuk-table__cell">Enteric package young ruminants from 22 days: Salmonella culture, coccidia and worm egg count (10g faeces)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">37.70</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0006&amp;category=14">PC0006</a></td>
          <td class="govuk-table__cell">Histopathology package (up to 3 tissues or 3 specimens of 1 tissue)</td>
          <td class="govuk-table__cell">Histopathology</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">49.40</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0126&amp;category=14">PC0126</a></td>
          <td class="govuk-table__cell">Milk - bulk milk antibody test package: BVD, IBR and L.hardjo</td>
          <td class="govuk-table__cell">ELISA</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">20.30</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0636&amp;category=14">PC0636</a></td>
          <td class="govuk-table__cell">Milk - individual milk antibody test package: BVD, IBR and L.hardjo</td>
          <td class="govuk-table__cell">ELISA</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">17.90</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/test-detail?code=PC0064&amp;category=14">PC0064</a></td>
          <td class="govuk-table__cell">Parasite disease: Worm egg count &amp; examination for fluke eggs, coccidial oocyst count (40g faeces)</td>
          <td class="govuk-table__cell">Package</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">39.00</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
